.startpage-gallery {
  padding: 5% 0 20% 0;

  span {
    @include small-side-text;
    position: absolute;
    top: 150px;
    right: -50px;

    @media (min-width: $desktop) {
      top: 300px;
      right: -20px;
    }
  }
}
.gallery-grid {
  display: grid;
  grid-template-columns: minmax(250px, 300px);
  grid-template-rows: repeat(3, minmax(250px, 250px));
  padding: 15%;
  row-gap: 5%;
  place-content: center;
  position: relative;
  margin-top: 0;

  @media only screen and (max-width: $laptop) and (min-width: $ipad) {
    grid-template-columns: minmax(200px, 300px) minmax(300px, 390px);
    grid-template-rows: repeat(2, minmax(300px, 390px));
    column-gap: 5%;
    row-gap: 10%;
    padding: 10%;
  }

  @media (min-width: $laptop) {
    grid-template-columns: minmax(400px, 600px) minmax(250px, 400px) minmax(
        400px,
        600px
      );
    grid-template-rows: repeat(2, minmax(300px, 440px));
    // margin-top: -2000px;
  }

  @media (min-width: 1500px) {
    grid-template-columns: minmax(500px, 600px) minmax(400px, 450px) minmax(
        500px,
        600px
      );
    grid-template-rows: repeat(2, minmax(500px, 600px));
  }

  .gallery-grid_img-wrapper {
    img {
      @include img;
    }
  }
  .image1-wrapper {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -70px;
      right: -10px;
      @include sticker-small;

      @media (min-width: $ipad) {
        @include sticker-large;
        right: -20px;
      }

      @media (min-width: $laptop) {
        display: none;
      }
    }

    button {
      position: absolute;
      bottom: -20px;
      left: 20%;

      @media (min-width: $ipad) {
        bottom: -30px;
        left: 13%;
      }

      @media (min-width: $ipad-pro) {
        bottom: -40px;
        left: 23%;
      }
    }
    @media only screen and (max-width: $laptop) and (min-width: $ipad) {
      grid-column: 2;
    }
  }
  .image2-wrapper,
  .image3-wrapper {
    display: none;
    @media (min-width: $laptop) {
      display: block;
    }
  }

  .image2-wrapper {
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -70px;
      right: -20px;
      @include sticker-large;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
        0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
    }
  }

  .illustration-wrapper {
    align-self: center;
    justify-self: center;

    img {
      max-width: 150px;
      height: auto;

      @media (min-width: $laptop) {
        max-width: 250px;
      }
    }
    @media only screen and (max-width: $laptop) and (min-width: $ipad) {
      grid-column: 1;
      grid-row: 1;
    }
  }
  .image4-wrapper {
    grid-column: 1;
    position: relative;

    button {
      position: absolute;
      bottom: -20px;
      left: 20%;

      @media (min-width: $ipad) {
        bottom: -30px;
        left: 30%;
      }

      @media (min-width: $ipad-pro) {
        bottom: -40px;
        left: 35%;
      }
    }

    @media (min-width: $ipad) {
      grid-column: 1 / span 2;
    }

    @media (min-width: $laptop) {
      grid-column: 2 / span 2;
    }
  }

  button {
    width: 150px;
    height: 50px;
    background-color: $oliv-green;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: $lato;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px $creme-white;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: inset 0px -80px 0px $creme-white;
      color: $mustard-yellow;
    }
    &:focus {
      outline: none;
    }

    @media (min-width: $ipad) {
      width: 280px;
      height: 80px;
      letter-spacing: 3px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
