footer {
  font-family: $lato;
  min-height: 150px;
  color: $creme-white;
  margin-top: 100px;
  padding: 10%;

  @media (min-width: $ipad) {
    padding: 5%;
    margin-top: 0;
  }

  .f-text-wrapper {
    h4 {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding-bottom: 20px;

      @media (min-width: $ipad) {
        font-size: 18px;
      }
    }

    a {
      text-decoration: none;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
      color: $creme-white;
      line-height: 16px;
      transition: color 0.6s ease;

      &:hover {
        color: $mustard-yellow;
      }
    }

    p {
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 2px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }

  .f-social-wrapper {
    margin-top: 20px;
    a {
      color: $creme-white;
      font-size: 20px;
      transition: color 0.6s ease;
      &:hover {
        color: $mustard-yellow;
      }

      i {
        margin-left: -10px;
        margin-right: 25px;
      }
    }
  }
}
