//font family

$lekton: 'Lekton';
$lato: 'Lato';

//colors

$matte-black: #181818;
$creme-white: #fff8ed;
$oliv-green: #e1e1bd;
$mustard-yellow: #e8a938;

//media queries
$mobile: 280px;
$ipad: 768px;
$ipad-pro: 1024px;
$laptop: 1300px;
$desktop: 1440px;
