
.icon-left-dir:before { content: '\e800'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-left-open-big:before { content: '\e805'; } /* '' */
.icon-right-open-big:before { content: '\e806'; } /* '' */
.icon-paper-plane-1:before { content: '\e807'; } /* '' */
.icon-dot-3:before { content: '\e808'; } /* '' */
.icon-dot-2:before { content: '\e809'; } /* '' */
.icon-dot:before { content: '\e80a'; } /* '' */
.icon-air:before { content: '\e80b'; } /* '' */
.icon-moon:before { content: '\e80c'; } /* '' */
.icon-flash:before { content: '\e80d'; } /* '' */
.icon-paper-plane-2:before { content: '\e80e'; } /* '' */
.icon-left-big:before { content: '\e80f'; } /* '' */
.icon-right-big:before { content: '\e810'; } /* '' */
.icon-up-dir:before { content: '\e811'; } /* '' */
.icon-down-open-big:before { content: '\e812'; } /* '' */
.icon-up-open-big:before { content: '\e813'; } /* '' */
.icon-cancel:before { content: '\e814'; } /* '' */
.icon-pinterest:before { content: '\e815'; } /* '' */
.icon-cancel-1:before { content: '\e816'; } /* '' */
.icon-cancel-3:before { content: '\e818'; } /* '' */
.icon-basket:before { content: '\e819'; } /* '' */
.icon-youtube:before { content: '\e81b'; } /* '' */
.icon-religious-christian:before { content: '\e82f'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-linkedin-1:before { content: '\f318'; } /* '' */